/* @import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;
  overflow: hidden;
  /* font-family: "Pixelify Sans"; */
  /* font-family: "VT323", monospace; */
}

body{
  overflow-x: hidden;
}

.logo {
  height: 5.5em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 5s linear;
  }
}
